{%extends 'after_login1.html'%}
{% load static %}
{% block content%}
<div style="font-weight: bold;font-family: cursive;font-size: 200%;text-align: center">
        
<center>{{city|upper}} <br> MOVIES </center></div><br>


<div style="font-weight: bold;font-family: cursive;justify-content: space-between;height: 60%;font-size:60%;">
    	<div style="background-color: lightgrey;margin-left: 100px;margin-right: 100px;padding-top: 10px;border: 3px solid grey;text-align: left;padding-left: 20px">
    		{%for movie in movies%}
    		<form action="moviesp" style="display:inline-block;">
    			<input type="text" name="movies" value="{{movie}}" hidden>
    		<button ><img src="static/{{movie}}.jpg" width="250px" height="300px"  style="border-radius: 5px;cursor: pointer;">
    		</button>
    		</form>
    		{%endfor%}
    	</div>
    	
 
</div>
{% endblock %}